/* Load local Varta fonts */
@font-face {
    font-family: 'Varta';
    src: url('@/assets/fonts/Varta/static/Varta-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
  }
  
  @font-face {
    font-family: 'Varta';
    src: url('@/assets/fonts/Varta/static/Varta-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
  }
  
  /* Load local Merriweather fonts */
  @font-face {
    font-family: 'Merriweather';
    src: url('@/assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
  }
  
  @font-face {
    font-family: 'Merriweather';
    src: url('@/assets/fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
    font-weight: 300; /* Light weight */
  }
  
  @font-face {
    font-family: 'Merriweather';
    src: url('@/assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
  }
  
  /* Load local Karla fonts */
  @font-face {
    font-family: 'Karla';
    src: url('@/assets/fonts/Karla/static/Karla-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight only */
  }
  
  /* Tailwind CSS imports */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  